
# dependencies
front/node_modules
front/.pnp
front/.pnp.*
front/.yarn/*
front/!.yarn/patches
front/!.yarn/plugins
front/!.yarn/releases
front/!.yarn/versions
front/# testing
front/coverage
front/# next.js
front/.next/
front/out/
front/build
front/.DS_Store
front/*.pem
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*
front/.env*
front/.vercel
front/*.tsbuildinfo
front/next-env.d.ts


back/.env
back/node_modules
back/logs
back/dist
back/coverage
back/.vscode/*



mobile/node_modules/
mobile/.expo/
mobile/dist/
mobile/npm-debug.*
mobile/*.jks
mobile/*.p8
mobile/*.p12
mobile/*.key
mobile/*.mobileprovision
mobile/*.orig.*
mobile/web-build/
mobile/.DS_Store